{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron">
      <div class="container">
	  	<div class="column">
	      <img class="img" src=https://raw.githubusercontent.com/jlfchen/HackRice9/master/Pictures/tinder.png width="300" height="200">
	      </div>
	     <div class="column">
          <img class="img" src= https://raw.githubusercontent.com/jlfchen/HackRice9/master/Pictures/pimp.jpg width="300" height="200">
          </div>
        <h1><b>Welcome To TinderPimper!</b></h1>
        <p>This application was built with the goal of providing two useful metrics to improve your Tinder experience - picture rating and clustering of profiles around you</p>
        <br>
        <div class="buttons">
        <p><a class="btn btn-default" href="/input_image" role="button">Upload a picture! &raquo;</a></p>
        <p><a class="btn btn-primary btn-lg" href="/start" role="button">Let's Get Started! &raquo;</a></p>
      </div>
  </div>
{% endblock %}
